body {
  margin: 0;
  padding: 0;
  background-color: #393e46;
}

.tile {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 5px;
  margin: 10px 5px;
  background: #222831;
  border-radius: 10px;
  position: relative;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 550px) {
  .tile {
    width: 46%;
  }
}
.image {
  border-radius: 10px;
}
.title {
  width: 100%;
  text-align: center;
  font-size: 17px;
  padding: 8px 0;
  color: white;
}

.tile button {
  display: flex;
  justify-content: space-between;
  padding: 0 2px;
  padding-bottom: 3px;
  margin: auto;
  align-self: center;
  text-align: center;
}
