* {
  box-sizing: border-box;
}

.nav {
  padding: 1rem;
  display: flex;
  background-color: transparent;
  justify-content: center;
}

.search {
  background-color: transparent;
  border: 2px solid #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  font-size: 1rem;
  color: white;
}
.search:focus {
  outline: none;
}
.search::placeholder {
  color: #ffffff;
  text-align: center;
}
